body{
    text-align: center;
    background-color: black;
}

h1{
    background-color:bisque;
    color: rgb(190, 87, 87);
}

.image{
    color: white;
}

.block{
    float: left;
    width: 480px;
    color: white;
}

form{
    clear: both;
}
